.container {
    margin-bottom: 20px;
}

.carousel {
    white-space: nowrap;
    overflow-x: scroll;
}

.carousel>* {
    display: inline-block;
    margin: 0 6px;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.title {
    max-width: 948px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin: auto;
}

.titleContent {
    display: flex;
    align-items: center;
}

.titleText {
    font-size: 2rem;
    font-weight: bold;
}

.titleGIF {
    width: 72px;
    height: 72px;
    background-image: url('/ico_archives.gif');
    background-size: cover;
}

.carouselStopBtn {
    cursor: pointer;
    width: 56px;
    height: 56px;
    background-image: url('/stop.svg');
    background-size: cover;
}

.carouselStartBtn {
    cursor: pointer;
    width: 56px;
    height: 56px;
    background-image: url('/start.svg');
    background-size: cover;
}

@media screen and (max-width: 1024px) {
    .title {
        max-width: 712px;
    }

    .titleGIF {
        width: 48px;
        height: 48px;
    }

    .carouselStopBtn {
        width: 32px;
        height: 32px;
    }

    .carouselStartBtn {
        width: 32px;
        height: 32px;
    }

    .titleText {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .title {
        max-width: 384px;
        display: block;
        margin: auto;
    }

    .titleGIF {
        display: none;
    }

    .carouselStopBtn {
        margin: 0 0 0 auto;
        width: 32px;
        height: 32px;
    }

    .carouselStartBtn {
        margin: 0 0 0 auto;
        width: 32px;
        height: 32px;
    }

    .titleText {
        font-size: 1.4rem;
    }
}